.main{
    background-color: black;
    }
.minor{
    margin-left:10%;
    margin-right:10%;
    background-color:white;
}
.nav{
background-color: rgb(50, 178, 105);
display:flex;
gap: 50%;
color: aliceblue;
    }
.dropdownicon{
    width: 5%;
    height: 45%;
    margin-top: 3%;
    border-radius: 50%;
} 
.icon{
    display:flex;
    gap:5%;
}
.Types{
    background-color: aliceblue;
    display:flex;
}
.dropicon{
    width:1%;
}  
.dropicons{
 width: 5%;
} 
.semi-nav{
    list-style: none;
    display:flex;
}
.dropiconss{
    width: 35%;
}
.herosite{
    display: flex;
    gap:10%;
}
.heroimagelanding1{
    background-image: url("images/terradium\ collection.jpeg");
    width:10rem;
    height:auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    color: black;
    padding:14%;
    margin-left:8%;
}.heroimageslanding2{
    background-image:url("images/inspiration\ plant.jpeg");
    width:15rem;
    height:auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    color: black;
    padding: 14%;
    margin-left:55%;
}
.heroimageslanding3{
    background-image:url("images/growchild.jpeg");
    width:15rem;
    margin-top:15%;
    height:auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    color: black;
    padding: 14%;
    margin-left:55%;
}.heroleft{
    display: flex;
    flex-direction: column;
}
.Allplants{
    display:flex;
    margin-top: 5%;
    gap:5%;
}
.herosale{
    background-image:url("images/sale.jpeg");
    width:10rem;
    height:10rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    color: black;
    padding: 4%;
    margin-left:5%;
}
.houseplant{
    background-image:url("images/house\ plants.jpeg");
    width:10rem;
    height:10rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    color: black;
    padding: 4%;
    margin-left:5%;
}
.potted{
    background-image:url("images/potted\ in\ home.jpeg");
    width:10rem;
    height:10rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    color: black;
    padding: 4%;
    margin-left:5%;
}
.all{
    margin-left: 35%;
    margin-top: 5%;
}
.flowers{
    display: flex;
    gap: 5%;
    margin-left: 8%;
    margin-top: 5%;
}
.firstrow{
    display:flex;
    flex-direction: column;
}
.first{
    display: flex;
    gap: 8%;
}
.second{
    display: flex;
    gap: 8%;
}
.pot{
    width: 35rem;
}
.featured{
    margin-left: 35%;
    margin-top: 5%;
}
.tree{
    display: flex;
    gap: 10%;
    margin-left: 10%;
    margin-top: 5%;
}
.feature{
    width: 30rem;
}
.treewords{
    margin-top: 3%;
}
.heromango{
    background-image:url("images/mango.jpeg");
    width:70rem;
    height:18rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    color: black;
    padding: 4%;
    margin-left:10%;
    margin-top: 2%;
}
.amazing{
    display: flex;
    margin-left: 10%;
    gap: 10%;
}
.amzg{
    margin-left: 10%;
}